services:
  postgres:
    image: postgres:latest
    container_name: todoSpringDB
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_DB: todo_db
      POSTGRES_PASSWORD: 1234
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U todo_user -d todo_db"]
      interval: 10s
      timeout: 5s
    restart: unless-stopped

volumes:
  postgres_data: